.mat-mdc-card {
  display: flex;
  flex-direction: row;
  }


.mat-calendar {
  width:50%;
  }
  .mat-card > ul{
    width:50%;
    }
  ::ng-deep .birthday-highlight {
    background-color: #ffcc00 !important; 
    color: black !important;
    border-radius: 50%;
  }
  