<h2 mat-dialog-title>Редактирование задачи</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Название задачи</mat-label>
    <input matInput [(ngModel)]="task.title" />
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Описание</mat-label>
    <textarea matInput [(ngModel)]="task.description"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Отмена</button>
  <button mat-raised-button color="warn" (click)="delete()">🗑️ Удалить</button>
  <button mat-raised-button color="primary" (click)="save()">💾 Сохранить</button>
</mat-dialog-actions>
